<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 m-auto">
      <div class="input-group" id="adv-search">
        <input
          type="text"
          class="form-control" id="searchTenants" name="searchTenants"
          placeholder="Search for Name and Mobile No" (keyup)="FilterTenants($event)"
        />
        <div class="input-group-btn">
          <div class="btn-group" role="group">            
            <button type="button" class="btn btn-primary" >
              <span class="fa fa-search" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <button type="button"s class="btn btn-primary" (click)="onCreate()"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create Tenant</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3"  *ngFor="let tenant of tenants | paginate : {itemsPerPage: 8, currentPage: p}">
      <div id="profile" class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body" id="myTable">
          <div class="row">
            <div class="col-md-4">
              <div class="profile-display">
                <p style="font-size: 30px;">
                  <b>{{ tenant.name.substring(0, 1).toUpperCase() }}</b>
                </p>
                <p></p>
              </div>
            </div>
            <div class="col-md-8" >
              <table id="tenantResults"> 
                <tr>
                  <td>
                    <i class="fa fa-user fa-1x" aria-hidden="true" title="Name"></i>&nbsp;:
                    {{ tenant.name }}
                  </td>
                </tr>
                <tr *ngIf="tenant.mobileNumber">
                  <td>
                    <i class="fa fa-phone fa-1x" aria-hidden="true" title="ContactNo"></i>&nbsp;:
                    {{ tenant.mobileNumber }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-history" aria-hidden="true" title="Time ago"></i>&nbsp;:
                    {{ tenant.dateOfJoining | timeAgo }}
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div style="text-align: right" >
            <span *ngIf="tenant.isActive" class="badge badge-success"
              >Active</span
            >
            <span *ngIf="!tenant.isActive" class="badge badge-danger"
              >Not Active</span
            >
          </div>
        </div>
        <div class="card-read-more">
          <a href="javascript:void(0)" class="btn btn-link btn-block" (click)="ViewMore()">
            View More
          </a>
       
    </div>
  </div>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
