
<div class="container-fluid">
  <div class="row">
      <div class="col-md-3" *ngFor="let tenant of tenants">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail profile-display"><p><b>{{tenant.name.substring(0,1)}}</b><p></div>
              </div>
              <div class="col-md-8">
                  <p><b>Name :</b>{{tenant.name}}</p>
                  <p><b>Joined :</b>{{tenant.dateOfJoining | timeAgo}}</p>
              </div>
            </div>    
              <p><b>Email : </b>{{tenant.email}}</p>
              <p *ngIf="tenant.mobileNumber"><b>Phone Number :</b>{{tenant.mobileNumber}}</p>  
          </div>
        </div>
      </div>
  </div>
</div>
